/* ==========================================================
// Base Styles
// ======================================================= */

* {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
form,
fieldset,
div {
  margin: 0;
}



/* ==========================================================
// Font Styles
// ======================================================= */




/* ==========================================================
// Layout Styles
// ======================================================= */


/* ----- Header ----- */

.header {
  width: 100%;
  height: 100vh;
}

.title {
  display: none;
}

.logo img {
  position: absolute;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  max-width: 200px;
  max-height: 200px;
  margin: -100px 0 0 -100px;
  z-index: 100;
}

.carousel,
.carousel-inner,
.item {
  height: 100%;
  width: 100%;
}

.item img {
  object-fit: cover;
  object-position: right bottom;
}

.one {
  background: url(../images/mobile/glutenfreepie2web.gif) center center no-repeat;
  background-size: cover;
}

.two {
  background: url(../images/mobile/glutenfreepie1web.gif) center center no-repeat;
  background-size: cover;
}

.three {
  background: url(../images/mobile/bloodorangebundt1web.gif) center center no-repeat;
  background-size: cover;
}

.four {
  background: url(../images/mobile/bloodorangecocktailweb.gif) center center no-repeat;
  background-size: cover;
}

.five {
  background: url(../images/mobile/donuts1web.gif) center center no-repeat;
  background-size: cover;
}



/* ----- Contact ----- */

.contact {
  width: 100%;
  height: 100vh;
}

.contact-form {
  width: 90%;
  margin: 0 auto;
  padding-top: 249px;
}

.name,
.email,
.notes,
.send {
  display: block;
}